.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #211c33;
  color: #fff;
  width: 500px;
  height: 580px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  text-align: justify;
}

.buttonDetail {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2b818c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.link {
  display: inline-block;

  text-decoration: none;
  color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.buttonDetail:hover {
  background-color: #990069;
}

.attribute {
  font-weight: bold;
}

.attributesName {
  color: #ed2860;
}

.image {
  border-radius: 5px;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.btnContainer {
  display: flex;
  justify-content: flex-start; /* Alineación a la izquierda */
  align-items: center; /* Alineación verticalmente centrada */
  margin-top: 10px; /* Espacio entre los botones y el contenido superior */
}

h3,
h2 {
  color: #9acd32;
}
