body {
  overflow-x: hidden;
}
.containerPrincipal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../image/fondo-Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  margin-right: 80px;
  padding: 30px;
  min-height: 600px;
}

.goBackButton {
  background-color: #ed2860;
  color: #fff;
  border: 2px solid black;
  padding: 10px 15px;
  cursor: pointer;
}

.createBtn {
  background-color: #2b818c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.createBtn.disabled {
  background-color: #b0b0b0;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: not-allowed;
  opacity: 0.7;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
  overflow: hidden;
}

label {
  font-weight: bold;
  width: 100%;
}

select {
  height: 55px;
}

input,
textarea,
select {
  width: 100%;
  padding: 6px;
  border: 1px solid #211c33;
  background-color: #fff;
}

select option[value=""] {
  color: #211c33;
}
