/* UpdateGame.module.css

.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.buttonContainer {
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
  overflow: hidden;
} */

/* UpdateGame.module.css */

body {
  overflow-x: hidden;
}

.containerPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../image/among-us.jpg"); /* Imagen de fondo de la página */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-repeat: no-repeat;
  background-position: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  background-color: rgba(136, 135, 135, 0.74);
  border-radius: 10px;
  backdrop-filter: blur(5px);

  padding: 20px;
  height: 90vh;
  width: 350px;
}

.formContainer h2 {
  font-size: 1.2rem;
  text-align: center;
}

.id {
  color: #52f032;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.btnUpdate {
  background-color: #2b818c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.btnUpdate:hover {
  background-color: #f03268;
  color: #000000;
}

.buttonContainer {
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  white-space: normal;
}
