.headerContainer {
  text-align: center;
  margin-bottom: 20px;
}

.btnDB {
  width: 90px;
  height: 50px;
  background-color: #833938;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.btnDB:hover {
  background-color: #0b1110;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../image/assasins.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.btn {
  background-color: #2b818c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f03268;
  color: #000000;
}
