.fondo {
  background-image: url("../../image/fondo-Landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.containerLanding {
  display: grid;
  place-items: center;
  height: 100vh;
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 320px;
}

.parrafos {
  color: white;
  text-align: justify;
}

.btnGroupLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnLanding {
  width: 150px;
  height: 50px;
  background-color: #833938;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;

  transition: background-color 0.8s ease;
}
.btnLanding:hover {
  background-color: #0b1110;
}
