.fondo {
  background-image: url("../../image/fondo-Landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.btnLanding {
  /* Estilos previos al hover */
  width: 150px;
  height: 50px;
  background-color: #833938;
  color: #ffffff; /* Blanco */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.8s ease;
}
.btnLanding:hover {
  background-color: #0b1110; /* Negro */
}

.containerLanding {
  display: grid;
  place-items: center; /* Centrar contenido horizontal y verticalmente */
  height: 100vh;
}

.centerContent {
  margin-top: 300px; /* Ajustar el valor para mover el botón hacia abajo */
}
